.venv/
__pycache__/
*.py[cod]
*.egg-info/
client/node_modules/
client/dist/

models/*.pt
models/*.ckpt
*.pt
outputs/*
!outputs/.gitkeep

data/images/train/*
data/images/val/*
data/images/test/*
data/labels/train/*
data/labels/val/*
data/labels/test/*
!data/**/.gitkeep
data/VisDrone/
